@import "tailwindcss";

::-webkit-scrollbar{
  display: none;
  width: 0px;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .active{
  color: var(--color-black);
  font-weight: bolder;
  text-transform: uppercase;
} */